@model OpenLawOffice.Web.ViewModels.Billing.FeeViewModel

@{ 
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Edit Fee";
    ViewBag.PageTitle = "Edit Fee";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/Matters">Matters</a></li>
        <li>Matter: <a href="/Matters/Details/@(ViewBag.Matter.Id)">@(ViewBag.Matter.Title)</a></li>
        <li><a href="/Matters/Fees/@(ViewBag.Matter.Id)">Fees</a></li>
        <li><a href="/Fees/Edit/@(Model.Id)" class="active">Edit</a></li>
    </ul>
}

@using (Html.BeginForm("Edit", "Fees", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @(Html.ValidationSummary(true))

    <div class="panel panel-default">
        <div class="panel-heading">Expense Information</div>
        <div class="panel-body">
            <div class="form-group">
                <span class="control-label col-sm-2">Incurred<span class="required-field" title="Required Field">*</span></span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Incurred, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Amount<span class="required-field" title="Required Field">*</span></span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Amount, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Details<span class="required-field" title="Required Field">*</span></span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextAreaFor(m => m.Details, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    </div>
}