@model OpenLawOffice.Web.ViewModels.Tasks.TaskViewModel
@using OpenLawOffice.Web.Helpers

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Task Details";
    ViewBag.PageTitle = "Task Details";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/Matters">Matters</a></li>
        <li>Matter: <a href="/Matters/Details/@(ViewBag.Matter.Id)">@ViewBag.Matter.Title</a></li>
        <li><a href="/Matters/Tasks/@(ViewBag.Matter.Id)">Tasks</a></li>
        <li>Task: <a href="/Tasks/Details/@(Model.Id)">@(Model.Title)</a></li>
    </ul>
}

<div class="container-fluid">
    <div class="row text-right">
        @if (Model.Active)
        {
            <div class="btn-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Close <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="/Tasks/CloseWithNewTask/@(Model.Id)">Create New Task</a></li>
                        <li><a href="/Tasks/Close/@(Model.Id)">No New Task</a></li>
                    </ul>
                </div>
            </div>
        }
        <div class="btn-group">
            <button type="button" id="new" class="btn btn-sm btn-primary" onclick="navTo('/Tasks/Create?MatterId=@(ViewBag.Matter.Id)')"><span class="fa fa-plus"></span> New Task</button>
            <button type="button" id="details" class="btn btn-sm btn-primary" onclick="navTo('/Tasks/Details/@(Model.Id)')"><span class="fa fa-info"></span> Detail</button>
            <button type="button" id="edit" class="btn btn-sm btn-primary" onclick="navTo('/Tasks/Edit/@(Model.Id)')"><span class="fa fa-pencil"></span> Edit</button>
            <button type="button" id="list" class="btn btn-sm btn-primary" onclick="navTo('/Matters/Tasks/@(ViewBag.Matter.Id)')"><span class="fa fa-list"></span> List</button>
        </div>
        <div class="btn-group">
            <button type="button" id="contacts" class="btn btn-sm btn-primary" onclick="navTo('/Tasks/Contacts/@(Model.Id)')"><span class="fa fa-user"></span> Contacts</button>
            <button type="button" id="notes" class="btn btn-sm btn-primary" onclick="navTo('/Tasks/Notes/@(Model.Id)')"><span class="fa fa-sticky-note-o"></span> Notes</button>
            <button type="button" id="time" class="btn btn-sm btn-primary" onclick="navTo('/Tasks/Time/@(Model.Id)')"><span class="fa fa-clock-o"></span> Time</button>
        </div>
    </div>
</div>

<script language="javascript">
    $(function () {
        $("#closeTaskDialog").dialog({
            autoOpen: false,
            width: 400,
            show: {
                effect: "blind",
                duration: 100
            },
            hide: {
                effect: "fade",
                duration: 100
            }
        });

        $("#newTaskHelp").click(function () {
            $("#closeTaskDialog").dialog("open");
        });
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        Task Details
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">Due Date:</div>
            <div class="col-sm-3">
                @if (Model.DueDate.HasValue)
                {
                    @(String.Format("{0:g}", Model.DueDate.Value))
                }
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Active:</div>
            <div class="col-sm-3">
                @BooleanHelper.YesNo(Model.Active)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">Description:</div>
            <div class="col-sm-10">
                @Html.Raw(Model.Description)
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        Notes
        <div style="float: right;">
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-default" onclick="navTo('/Notes/Create?TaskId=@(Model.Id)')"><span class="fa fa-plus"></span> New Note</button>
                <button type="button" class="btn btn-xs btn-default" onclick="navTo('/Tasks/Notes/@(Model.Id)')"><span class="fa fa-list"></span> List Notes</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-hover table-text-small">
            <thead>
                <tr>
                    <th style="text-align: center;">
                        Date/Time
                    </th>
                    <th style="text-align: center;">
                        Title
                    </th>
                    <th style="text-align: right;">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var note in Model.Notes)
                {
                    <tr>
                        <td>
                            @(note.Timestamp)
                        </td>
                        <td>
                            @(Html.ActionLink(note.Title, "Details", "Notes", new { id = note.Id.Value }, null))
                        </td>
                        <td style="text-align: right;">
                            <button type="button" class="btn btn-xs btn-default" onclick="navTo('/Notes/Edit/@(note.Id.Value)')">
                                <span class="fa fa-pencil"></span> Edit
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Time
        <div style="float: right;">
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-default" onclick="navTo('/TaskTime/SelectContactToAssign?TaskId=@(Model.Id)')"><span class="fa fa-plus"></span> New Entry</button>
                <button type="button" class="btn btn-xs btn-default" onclick="navTo('/Tasks/Time/@(Model.Id)')"><span class="fa fa-list"></span> List Entries</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-hover table-text-small">
            <thead>
                <tr>
                    <th class="text-center">
                        Start
                    </th>
                    <th class="text-center">
                        Stop
                    </th>
                    <th class="text-center">
                        Duration
                    </th>
                    <th class="text-center">
                        Worker
                    </th>
                    <th style="text-align: right;">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Times)
                {
                    <tr>
                        <td>
                            @(item.Start)
                        </td>
                        <td>
                            @(item.Stop)
                        </td>
                        <td>
                            @(Math.Round(item.Duration.TotalMinutes, 0))
                            min.
                        </td>
                        <td>
                            @(Html.ActionLink(item.Worker.DisplayName, "Details", "Contacts", new { id = item.Worker.Id }, null))
                        </td>
                        <td class="text-right">
                            <button type="button" class="btn btn-xs btn-default" onclick="navTo('/Timing/Edit/@(item.Id.Value)')">
                                <span class="fa fa-pencil"></span> Edit
                            </button>
                            <button type="button" class="btn btn-xs btn-default" onclick="navTo('/Timing/Details/@(item.Id.Value)')">
                                <span class="fa fa-clock-o"></span> Detail
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@{ Html.RenderPartial("_CoreDetails");}