@model IEnumerable<OpenLawOffice.Web.ViewModels.Notes.NoteViewModel>

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Task Notes";
    ViewBag.PageTitle = "Task Notes";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/Matters">Matters</a></li>
        <li>Matter: <a href="/Matters/Details/@(ViewBag.Matter.Id)">@(ViewBag.Matter.Title)</a></li>
        <li><a href="/Matters/Tasks/@(ViewBag.Matter.Id)">Tasks</a></li>
        <li>Task: <a href="/Tasks/Details/@(ViewBag.Task.Id)">@(ViewBag.Task.Title)</a></li>
        <li><a href="/Tasks/Notes/@(ViewBag.Task.Id)">Notes</a></li>
    </ul>
}

<div class="container-fluid">
    <div class="row text-right">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary" onclick="navTo('/Notes/Create?TaskId=@(ViewBag.Task.Id)')"><span class="fa fa-plus"></span> New Note</button>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Notes for Task
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-hover table-text-small">
            <thead>
                <tr>
                    <th class="text-center">
                        Title
                    </th>
                    <th class="text-center">
                        Notes
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(Html.ActionLink(item.Title, "Details", "Notes", new { id = item.Id }, null))
                    </td>
                    <td>
                        @if (item.Body.Length > 100)
                        {
                            <text>@(Html.Raw(item.Body))</text>
                        }
                        else
                        {
                            @(item.Body)
                        }
                    </td>
                    <td class="text-right">
                        <button type="button" class="btn btn-xs btn-default" onclick="navTo('/Notes/Edit/@(item.Id)')">
                            <span class="fa fa-pencil"></span> Edit
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>