@model OpenLawOffice.Web.ViewModels.Notes.NoteViewModel

@{ 
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Edit Note";
    ViewBag.PageTitle = "Edit Note";
}

<script type="text/javascript" src="/Scripts/tinymce/tinymce.min.js"></script>
<script language="javascript">
    $(document).ready(function () {
        $('#ClearNoticeButton').click(function () {
            $('#NotifyContactIds').val([]);
        });
        tinymce.init({
            selector: "#Body",
            theme: "modern",
            toolbar: "insertfile undo redo | styleselect | bold underline italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });
    });
</script>

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/Matters">Matters</a></li>
        <li>Matter: <a href="/Matters/Details/@(ViewBag.Matter.Id)">@(ViewBag.Matter.Title)</a></li>
        @if (ViewBag.Task != null)
        {
            <li><a href="/Matters/Tasks/@(ViewBag.Matter.Id)">Tasks</a></li>
            <li>Task: <a href="/Tasks/Details/@(ViewBag.Task.Id)">@(ViewBag.Task.Title)</a></li>
            <li><a href="/Tasks/Notes/@(ViewBag.Task.Id)">Notes</a></li>
            <li>Note: <a href="/Notes/Details/@(Model.Id)">@(Model.Title)</a></li>
            <li><a href="/Notes/Edit/@(Model.Id)">Edit</a></li>
        }
        else
        {
            <li><a href="/Matters/Notes/@(ViewBag.Matter.Id)">Notes</a></li>
            <li>Note: <a href="/Notes/Details/@(Model.Id)">@(Model.Title)</a></li>
            <li><a href="/Notes/Edit/@(Model.Id)">Edit</a></li>
        }
    </ul>
}

<div class="container-fluid">
    <div class="row text-right">
        <div class="btn-group">
            <button type="button" id="details" class="btn btn-sm btn-primary" onclick="navTo('/Notes/Details/@(Model.Id)')"><span class="fa fa-info"></span> Detail</button>
            <button type="button" id="edit" class="btn btn-sm btn-primary" onclick="navTo('/Notes/Edit/@(Model.Id)')"><span class="fa fa-pencil"></span> Edit</button>
        </div>
    </div>
</div>

@using (Html.BeginForm())
    {
@(Html.ValidationSummary(true))

    <div class="panel panel-default">
        <div class="panel-heading">Note Information</div>
        <div class="panel-body">
            <div class="form-group">
                <span class="control-label col-sm-2">Date/Time<span class="required-field" title="Required Field">*</span></span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Timestamp, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Title<span class="required-field" title="Required Field">*</span></span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Title, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">
                    Send Notice To<br />
                    <button type="button" name="ClearNoticeButton" id="ClearNoticeButton" class="btn btn-default">Clear Notices</button>
                </span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    <div style="font-size: 7pt; font-style: italic; padding-bottom: 3px;">Hold ctrl while clicking to select multiple items.</div>
                    @(Html.ListBoxFor(x => x.NotifyContactIds,
                    new SelectList(ViewBag.EmployeeContactList, "Id", "DisplayName"),
                    new { @size = 5, @class = "form-control", @style = "width: 100%" }))
                    <div style="font-size: 7pt; font-style: italic; padding-bottom: 3px;">
                        Deselecting a contact will not 'unsend' or delete the notice, once a notice
                        is sent it cannot be undone.  Selecting a contact which has already cleared the
                        notice will renotify the contact.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Description<span class="required-field" title="Required Field">*</span></span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextAreaFor(m => m.Body, new { @class = "form-control", @style = "width: 100%; height: 300px;" }))
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    </div>
}