@model OpenLawOffice.Web.ViewModels.Timing.DayViewModel

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Daily Time";
    ViewBag.PageTitle = "Daily Time";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/Timing/DayView" class="active">Daily View</a></li>
    </ul>
}

<h2>Daily Time</h2>
    
@using (Html.BeginForm())
{
@(Html.ValidationSummary(true))

<script>
    $(function () {
        //$("#date").datepicker({
        //    autoSize: true,
        //    onSelect: function (date) {
        //        $("form").submit();
        //    }
        //});
        $('#Employee_Id').change(function () {
            $("form").submit();
        });
        $('#datetimepicker1').datetimepicker({
            format: 'l'
        });
        $('#datetimepicker1').on('dp.change', function (e) {
            $('form').submit();
        })
    });
</script>

<div class="container">
    <div class="row">
        <div class='col-sm-4'>
            <div class="input-group">
                <div class="input-group-addon">Employee</div>
                @(Html.DropDownListFor(x => x.Employee.Id,
                    new SelectList(ViewBag.EmployeeContactList, "Id", "DisplayName"),
                    new { @class = "form-control" }))
            </div>
        </div>
        <div class='col-sm-2'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type="text" class="form-control" id="Date" name="Date" value="@(((DateTime)ViewBag.Date).ToString("MM/dd/yyyy"))"/>
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped table-condensed table-hover table-text-small">
    <thead>
        <tr>
            <th style="text-align: center;">
                Start
            </th>
            <th style="text-align: center;">
                Stop
            </th>
            <th style="text-align: center;">
                Duration
            </th>
            <th style="text-align: center;">
                Matter
            </th>
            <th style="text-align: center;">
                Task
            </th>
            <th style="text-align: center;">
                Details
            </th>
            <th style="text-align: center;">

            </th>
        </tr>
    </thead>
    <tbody>
        @{ double totalMinutes = 0;
            DateTime lastTimestampStart = (DateTime)ViewBag.Date;// DateTime.Today;
            DateTime lastTimestampStop = (DateTime)ViewBag.Date;// DateTime.Today;}
            foreach (var item in Model.Items)
            {

                totalMinutes += item.Time.Duration.TotalMinutes;

                bool b = item.Time.Start.Hour > lastTimestampStart.Hour;
                b = lastTimestampStart > DateTime.Today;

                @*if (item.Time.Start.Hour > lastTimestampStart.Hour && lastTimestampStart > (DateTime)ViewBag.Date)
                {
                    <tr>
                        <td style="background-color: Black; height: 0px; padding: 2px;" colspan="7" />
                    </tr>
                }*@
                if (item.Time.Start.Subtract(lastTimestampStop).TotalMinutes > 10)
                {
                    <tr class="bg-info">
                        <td style="padding: 2px;" colspan="6" />
                        <td style="padding: 2px; text-align:center;">
                        &nbsp;
                        </td>
                    </tr>
                }

                if (lastTimestampStop > item.Time.Start)
                {
                    <tr class="bg-danger">
                        <td style="width: 170px;">
                            @(String.Format("{0:g}", item.Time.Start))
                        </td>
                        @if (item.Time.Stop.HasValue)
                        {
                            <td style="width: 170px;">
                                @(String.Format("{0:g}", item.Time.Stop))
                            </td>
                        }
                        else
                        {
                            <td class="bg-warning" style="width: 170px">
                                ???
                            </td>
                        }
                        <td style="width: 80px;">
                            @(item.Time.Duration)
                        </td>
                        <td>
                            @(item.Matter.Title)
                        </td>
                        <td>
                            @(item.Task.Title)
                        </td>
                        <td>
                            @(item.Time.Details)
                        </td>
                        <td class="text-right">
                            <button type="button" class="btn btn-xs btn-default" onclick="navTo('/Timing/Edit/@(item.Time.Id)')"><span class="fa fa-pencil"></span> Edit</button>
                            <button type="button" class="btn btn-xs btn-default" onclick="navTo('/Timing/Details/@(item.Time.Id)')"><span class="fa fa-clock-o"></span> View</button>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="width: 170px;">
                            @(String.Format("{0:g}", item.Time.Start))
                        </td>
                        @if (item.Time.Stop.HasValue)
                        {
                            <td style="width: 170px;">
                                @(String.Format("{0:g}", item.Time.Stop))
                            </td>
                        }
                        else
                        {
                            <td class="bg-warning" style="width: 170px;">
                                ???
                            </td>
                        }
                        <td style="width: 80px;">
                            @(item.Time.Duration)
                        </td>
                        <td>
                            @(item.Matter.Title)
                        </td>
                        <td>
                            @(item.Task.Title)
                        </td>
                        <td>
                            @(item.Time.Details)
                        </td>
                        <td class="text-right">
                            <button type="button" class="btn btn-xs btn-default" onclick="navTo('/Timing/Edit/@(item.Time.Id)')"><span class="fa fa-pencil"></span> Edit</button>
                            <button type="button" class="btn btn-xs btn-default" onclick="navTo('/Timing/Details/@(item.Time.Id)')"><span class="fa fa-clock-o"></span> View</button>
                        </td>
                    </tr>
                }

                lastTimestampStart = item.Time.Start;
                if (item.Time.Stop.HasValue)
                {
                    lastTimestampStop = item.Time.Stop.Value;
                }
            }
        }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" style="text-align: right; font-weight: bold;">
                    Total Time:
                </td>
                <td style="text-align: center; font-weight: bold;">
                    @(TimeSpan.FromMinutes(Math.Round(totalMinutes, 0)).ToString(@"d'd 'hh'h 'mm'm'"))
                </td>
                <td colspan="4"></td>
            </tr>
        </tfoot>
    </table>

    <h3>Legend</h3>

    <table>
        <tr>
            <td class="bg-danger">This entry overlaps the previous entry.</td>
        </tr>
        <tr>
            <td class="bg-warning">This entry does not have a stop time.</td>
        </tr>
        <tr>
            <td class="bg-info">Gap of over ten minutes, make sure you are not missing an entry.</td>
        </tr>
    </table>
    }
