@model OpenLawOffice.Web.ViewModels.Tasks.TaskTemplateViewModel

@{ 
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Create Task Template";
    ViewBag.PageTitle = "Create Task Template";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/Settings">Settings</a></li>
        <li><a href="/TaskTemplates">Task Templates</a></li>
        <li><a href="/TaskTemplates/Create" class="active">Create</a></li>
    </ul>
}

@using (Html.BeginForm())
    {
@(Html.ValidationSummary(true))
    <div class="panel panel-default">
        <div class="panel-heading">Task Template Information</div>
        <div class="panel-body">
            <div class="form-group">
                <span class="control-label col-sm-2">Title of Template<span class="required-field" title="Required Field">*</span></span>
                <div class="col-sm-10">
                    @(Html.TextBoxFor(m => m.TaskTemplateTitle, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Title of Task<span class="required-field" title="Required Field">*</span></span>
                <div class="col-sm-10">
                    @(Html.TextBoxFor(m => m.Title, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Description</span>
                <div class="col-sm-10">
                    @(Html.TextAreaFor(m => m.Description, new { @class = "form-control", @style = "height: 100px;" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Active</span>
                <div class="col-sm-10">
                    @(Html.CheckBoxFor(model => model.Active, new { @Checked = true, @class = "form-control", @style = "width: 50px; display: inline;" }))
                    Uncheck if the task is already completed
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Due Date</span>
                <div class="col-sm-10">
                    @(Html.EditorFor(model => model.DueDate, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Use Tools
        </div>
        <div class="panel-body">            
            The following may be used in the above fields.<br />
            [NOW] - Insert the current date and time (@(DateTime.Now.ToString("G"))).<br />
            [DATE] - Insert the current date (@(DateTime.Now.ToString("d"))).<br />
            [DATE+X] where X is a number - Insert the current date plus the given value of X ([DATE+5]=@(DateTime.Now.AddDays(5).ToString("d"))).
        </div>
    </div>
}
