@model OpenLawOffice.Web.ViewModels.Contacts.ContactViewModel

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Contact Details";
    ViewBag.PageTitle = "Contact Details";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/Contacts">Contacts</a></li>
        <li>Contact: <a href="/Contacts/Details" class="active">@(Model.DisplayName)</a></li>
    </ul>
}

<script type="text/javascript">
    $(function () {
        $("#new").click(function () {
            window.location = '/Contacts/Create';
        })
        $("#details").click(function () {
            window.location = '/Contacts/Details/@(Model.Id)';
        })
        $("#edit").click(function () {
            window.location = '/Contacts/Edit/@(Model.Id)';
        })
        $("#list").click(function () {
            window.location = '/Contacts';
        })
        $("#conflicts").click(function () {
            window.location = '/Contacts/Conflicts/@(Model.Id)';
        })
        $("#matters").click(function () {
            window.location = '/Contacts/Matters/@(Model.Id)';
        })
        $("#tasks").click(function () {
            window.location = '/Contacts/Tasks/@(Model.Id)';
        })
    })
</script>

<div class="container-fluid">
    <div class="row text-right">
        <div class="btn-group">
            <button id="new" class="btn btn-sm btn-primary"><span class="fa fa-plus"></span> New Contact</button>
            <button id="details" class="btn btn-sm btn-primary"><span class="fa fa-info"></span> Detail</button>
            <button id="edit" class="btn btn-sm btn-primary"><span class="fa fa-pencil"></span> Edit</button>
            <button id="list" class="btn btn-sm btn-primary"><span class="fa fa-list"></span> List</button>
            <button id="conflicts" class="btn btn-sm btn-primary"><span class="fa fa-shield"></span> Conflicts</button>
            <button id="matters" class="btn btn-sm btn-primary"><span class="fa fa-briefcase"></span> Matters</button>
            <button id="tasks" class="btn btn-sm btn-primary"><span class="fa fa-tasks"></span> Tasks</button>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        General
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">Id:</div>
            <div class="col-sm-3">@(Model.Id)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Our Employee:</div>
            <div class="col-sm-3">
                @(Model.IsOurEmployee)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">Is an Organization:</div>
            <div class="col-sm-3">@(Model.IsOrganization)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                @if (Model.IsOurEmployee && Model.BillingRate != null && Model.BillingRate.Id.HasValue)
                {
                    <text>Rate:</text>
                }
            </div>
            <div class="col-sm-3">
            @if (Model.IsOurEmployee && Model.BillingRate != null && Model.BillingRate.Id.HasValue)
            {
                @(Model.BillingRate.Title) <text>(</text>@(Model.BillingRate.PricePerUnit.ToString("C"))<text>)</text>
            }
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Contact Name
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">Nickname:</div>
            <div class="col-sm-3">@(Model.Nickname)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Generation:</div>
            <div class="col-sm-3">@(Model.Generation)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Display Name Prefix:</div>
            <div class="col-sm-3">@(Model.DisplayNamePrefix)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Display Name:</div>
            <div class="col-sm-3">@(Model.DisplayName)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Surname (Last):</div>
            <div class="col-sm-3">@(Model.Surname)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Middle Name:</div>
            <div class="col-sm-3">@(Model.MiddleName)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Given (First) Name:</div>
            <div class="col-sm-3">@(Model.GivenName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Initials:</div>
            <div class="col-sm-3">@(Model.Initials)</div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Electronic Addresses
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">Email 1 Display Name:</div>
            <div class="col-sm-3">@(Model.Email1DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Email 1 Email Address:</div>
            <div class="col-sm-3">@(Model.Email1EmailAddress)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Email 2 Display Name:</div>
            <div class="col-sm-3">@(Model.Email2DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Email 2 Email Address:</div>
            <div class="col-sm-3">@(Model.Email2EmailAddress)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Email 3 Display Name:</div>
            <div class="col-sm-3">@(Model.Email3DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Email 3 Email Address:</div>
            <div class="col-sm-3">@(Model.Email3EmailAddress)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Fax 1 Display Name:</div>
            <div class="col-sm-3">@(Model.Fax1DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Fax 1 Fax Number:</div>
            <div class="col-sm-3">@(Model.Fax1FaxNumber)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Fax 2 Display Name:</div>
            <div class="col-sm-3">@(Model.Fax2DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Fax 2 Fax Number:</div>
            <div class="col-sm-3">@(Model.Fax2FaxNumber)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Fax 3 Display Name:</div>
            <div class="col-sm-3">@(Model.Fax3DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Fax 3 Fax Number:</div>
            <div class="col-sm-3">@(Model.Fax3FaxNumber)</div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Physical Addresses
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">Address 1 Display Name:</div>
            <div class="col-sm-10">@(Model.Address1DisplayName)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Address 1 Street:</div>
            <div class="col-sm-3">@(Model.Address1AddressStreet)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Address 1 Line 2:</div>
            <div class="col-sm-3">@(Model.Address1AddressLine2)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Address 1 City:</div>
            <div class="col-sm-3">@(Model.Address1AddressCity)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Address 1 State/Province:</div>
            <div class="col-sm-3">@(Model.Address1AddressStateOrProvince)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Address 1 Postal Code:</div>
            <div class="col-sm-3">@(Model.Address1AddressPostalCode)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Address 1 Country:</div>
            <div class="col-sm-3">@(Model.Address1AddressCountry)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Address 1 Country Code:</div>
            <div class="col-sm-3">@(Model.Address1AddressCountryCode)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Address 1 Post Office Box:</div>
            <div class="col-sm-3">@(Model.Address1AddressPostOfficeBox)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Address 2 Display Name:</div>
            <div class="col-sm-10">@(Model.Address2DisplayName)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Address 2 Street:</div>
            <div class="col-sm-3">@(Model.Address2AddressStreet)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Address 2 Line 2:</div>
            <div class="col-sm-3">@(Model.Address2AddressLine2)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Address 2 City:</div>
            <div class="col-sm-3">@(Model.Address2AddressCity)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Address 2 State/Province:</div>
            <div class="col-sm-3">@(Model.Address2AddressStateOrProvince)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Address 2 Postal Code:</div>
            <div class="col-sm-3">@(Model.Address2AddressPostalCode)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Address 2 Country:</div>
            <div class="col-sm-3">@(Model.Address2AddressCountry)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Address 2 Country Code:</div>
            <div class="col-sm-3">@(Model.Address2AddressCountryCode)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Address 2 Post Office Box:</div>
            <div class="col-sm-3">@(Model.Address2AddressPostOfficeBox)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Address 3 Display Name:</div>
            <div class="col-sm-10">@(Model.Address3DisplayName)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Address 3 Street:</div>
            <div class="col-sm-3">@(Model.Address3AddressStreet)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Address 3 Line 2:</div>
            <div class="col-sm-3">@(Model.Address3AddressLine2)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Address 3 City:</div>
            <div class="col-sm-3">@(Model.Address3AddressCity)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Address 3 State/Province:</div>
            <div class="col-sm-3">@(Model.Address3AddressStateOrProvince)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Address 3 Postal Code:</div>
            <div class="col-sm-3">@(Model.Address3AddressPostalCode)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Address 3 Country:</div>
            <div class="col-sm-3">@(Model.Address3AddressCountry)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Address 3 Country Code:</div>
            <div class="col-sm-3">@(Model.Address3AddressCountryCode)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Address 3 Post Office Box:</div>
            <div class="col-sm-3">@(Model.Address3AddressPostOfficeBox)</div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Telephone Numbers
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">Telephone 1 Display Name:</div>
            <div class="col-sm-3">@(Model.Telephone1DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Telephone 1 Telephone Number:</div>
            <div class="col-sm-3">@(Model.Telephone1TelephoneNumber)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Telephone 2 Display Name:</div>
            <div class="col-sm-3">@(Model.Telephone2DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Telephone 2 Telephone Number:</div>
            <div class="col-sm-3">@(Model.Telephone2TelephoneNumber)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Telephone 2 Display Name:</div>
            <div class="col-sm-3">@(Model.Telephone2DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Telephone 2 Telephone Number:</div>
            <div class="col-sm-3">@(Model.Telephone2TelephoneNumber)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Telephone 2 Display Name:</div>
            <div class="col-sm-3">@(Model.Telephone2DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Telephone 2 Telephone Number:</div>
            <div class="col-sm-3">@(Model.Telephone2TelephoneNumber)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Telephone 3 Display Name:</div>
            <div class="col-sm-3">@(Model.Telephone3DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Telephone 3 Telephone Number:</div>
            <div class="col-sm-3">@(Model.Telephone3TelephoneNumber)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Telephone 4 Display Name:</div>
            <div class="col-sm-3">@(Model.Telephone4DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Telephone 4 Telephone Number:</div>
            <div class="col-sm-3">@(Model.Telephone4TelephoneNumber)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Telephone 5 Display Name:</div>
            <div class="col-sm-3">@(Model.Telephone5DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Telephone 5 Telephone Number:</div>
            <div class="col-sm-3">@(Model.Telephone5TelephoneNumber)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Telephone 6 Display Name:</div>
            <div class="col-sm-3">@(Model.Telephone6DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Telephone 6 Telephone Number:</div>
            <div class="col-sm-3">@(Model.Telephone6TelephoneNumber)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Telephone 7 Display Name:</div>
            <div class="col-sm-3">@(Model.Telephone7DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Telephone 7 Telephone Number:</div>
            <div class="col-sm-3">@(Model.Telephone7TelephoneNumber)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Telephone 8 Display Name:</div>
            <div class="col-sm-3">@(Model.Telephone8DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Telephone 8 Telephone Number:</div>
            <div class="col-sm-3">@(Model.Telephone8TelephoneNumber)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Telephone 9 Display Name:</div>
            <div class="col-sm-3">@(Model.Telephone9DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Telephone 9 Telephone Number:</div>
            <div class="col-sm-3">@(Model.Telephone9TelephoneNumber)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Telephone 10 Display Name:</div>
            <div class="col-sm-3">@(Model.Telephone10DisplayName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Telephone 10 Telephone Number:</div>
            <div class="col-sm-3">@(Model.Telephone10TelephoneNumber)</div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Events
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">Birthday:</div>
            <div class="col-sm-3">@(string.Format("{0:MMM d, yyyy}", Model.Birthday))</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Wedding:</div>
            <div class="col-sm-3">@(string.Format("{0:MMM d, yyyy}", Model.Wedding))</div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Professional Details
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">Title:</div>
            <div class="col-sm-3">@(Model.Title)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Bar Number:</div>
            <div class="col-sm-3">@(Model.BarNumber)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Company Name:</div>
            <div class="col-sm-3">@(Model.CompanyName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Department Name:</div>
            <div class="col-sm-3">@(Model.DepartmentName)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Office Location:</div>
            <div class="col-sm-3">@(Model.OfficeLocation)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Manager Name:</div>
            <div class="col-sm-3">@(Model.ManagerName)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Assistant Name:</div>
            <div class="col-sm-3">@(Model.AssistantName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Profession:</div>
            <div class="col-sm-3">@(Model.Profession)</div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Other Details
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">Spouse's Name:</div>
            <div class="col-sm-3">@(Model.SpouseName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Language:</div>
            <div class="col-sm-3">@(Model.Language)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Instant Messaging Address:</div>
            <div class="col-sm-3">@(Model.InstantMessagingAddress)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Personal Home Page:</div>
            <div class="col-sm-3">@(Model.PersonalHomePage)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Business Home Page:</div>
            <div class="col-sm-3">@(Model.BusinessHomePage)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Gender:</div>
            <div class="col-sm-3">@(Model.Gender)</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Referred By:</div>
            <div class="col-sm-3">@(Model.ReferredByName)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("_CoreDetails");}
