@model OpenLawOffice.Web.ViewModels.Contacts.ContactViewModel

@{ 
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Edit Contacts";
    ViewBag.PageTitle = "Edit Contacts";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/Contacts">Contacts</a></li>
        <li>Contact: <a href="/Contacts/Details">@(Model.DisplayName)</a></li>
        <li><a href="/Contacts/Edit/@(Model.Id)" class="active">Edit</a></li>
    </ul>
}

<script language="javascript">
    $(function () {
        $("#IsOurEmployee").change(function () {
            if ($(this).is(":checked")) {
                $("#BillingPane").show();
            } else {
                $("#BillingPane").hide();
                $("#BillingRate_Id").val([]);
            }
        });
        @if (Model.IsOurEmployee)
        {
            <text>
                $("#BillingPane").show();
            </text>
        } else {
            <text>
                $("#BillingPane").hide();
            </text>
        }
    });

    $(function () {
        $("#new").click(function () {
            window.location = '/Contacts/Create';
        })
        $("#details").click(function () {
            window.location = '/Contacts/Details/@(Model.Id)';
        })
        $("#edit").click(function () {
            window.location = '/Contacts/Edit/@(Model.Id)';
        })
        $("#list").click(function () {
            window.location = '/Contacts';
        })
        $("#conflicts").click(function () {
            window.location = '/Contacts/Conflicts/@(Model.Id)';
        })
       $("#matters").click(function () {
            window.location = '/Contacts/Matters/@(Model.Id)';
        })
        $("#tasks").click(function () {
            window.location = '/Contacts/Tasks/@(Model.Id)';
        })
    })
</script>

<div class="container-fluid">
    <div class="row text-right">
        <div class="btn-group">
            <button id="new" class="btn btn-sm btn-primary"><span class="fa fa-plus"></span> New Contact</button>
            <button id="details" class="btn btn-sm btn-primary"><span class="fa fa-info"></span> Detail</button>
            <button id="edit" class="btn btn-sm btn-primary"><span class="fa fa-pencil"></span> Edit</button>
            <button id="list" class="btn btn-sm btn-primary"><span class="fa fa-list"></span> List</button>
            <button id="conflicts" class="btn btn-sm btn-primary"><span class="fa fa-shield"></span> Conflicts</button>
            <button id="matters" class="btn btn-sm btn-primary"><span class="fa fa-briefcase"></span> Matters</button>
            <button id="tasks" class="btn btn-sm btn-primary"><span class="fa fa-tasks"></span> Tasks</button>
        </div>
    </div>
</div>

@using (Html.BeginForm("Edit", "Contacts", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @(Html.ValidationSummary(true))

    <div class="panel panel-default">
        <div class="panel-heading">Classification</div>
        <div class="panel-body">
            <div class="form-group">
                <span class="control-label col-sm-2">Our Employee</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.CheckBoxFor(model => model.IsOurEmployee))Check to indicate that this contact is employed by your company giving them rights
                    to bill within this system.
                    @(Html.ValidationMessageFor(model => model.IsOurEmployee))
                    <table class="detail_table" style="margin-top: 5px;" id="BillingPane">
                        <thead style="font-weight: bold;">
                            <tr>
                                <td colspan="2">
                                    Billing Details
                                </td>
                            </tr>
                        </thead>
                        <tr>
                            <td class="display-label" style="width: 150px;">
                                Billing Rate
                            </td>
                            <td class="display-field">
                                @(Html.DropDownListFor(model => model.BillingRate.Id,
                        new SelectList(ViewBag.BillingRateList, "Id", "Title"),
                        new { @size = 5, @style = "width: 100%" }))
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Organization</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.CheckBoxFor(model => model.IsOrganization))Check to indicate that this contact is for an organization, not an individual.
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Contact Name</div>
        <div class="panel-body">
            <div class="form-group">
                <span class="control-label col-sm-2">Nickname</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Nickname, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Generation</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Generation, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Display Name Prefix</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.DisplayNamePrefix, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Display Name<span class="required-field" title="Required Field">*</span></span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Surname (Last)</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Surname, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Middle Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Given (First) Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.GivenName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Initials</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Initials, new { @class = "form-control" }))
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Electronic Addresses</div>
        <div class="panel-body">
            <div class="form-group">
                <span class="control-label col-sm-2">Email 1 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Email1DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Email 1 Email Address</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Email1EmailAddress, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Email 2 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Email2DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Email 2 Email Address</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Email2EmailAddress, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Email 3 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Email3DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Email 3 Email Address</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Email3EmailAddress, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Fax 1 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Fax1DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Fax 1 Email Address</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Fax1FaxNumber, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Fax 2 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Fax2DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Fax 2 Email Address</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Fax2FaxNumber, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Fax 3 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Fax3DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Fax 3 Email Address</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Fax3FaxNumber, new { @class = "form-control" }))
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Physical Addresses</div>
        <div class="panel-body">
            <div class="form-group">
                <span class="control-label col-sm-2">Address 1 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address1DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 1 Street</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address1AddressStreet, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 1 Line 2</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address1AddressLine2, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 1 City</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address1AddressCity, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 1 State/Province</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address1AddressStateOrProvince, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 1 Postal Code</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address1AddressPostalCode, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 1 Country</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address1AddressCountry, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 1 Country Code</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address1AddressCountryCode, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 1 Post Office Box</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address1AddressPostOfficeBox, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 2 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address2DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 2 Street</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address2AddressStreet, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 2 Line 2</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address2AddressLine2, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 2 City</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address2AddressCity, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 2 State/Province</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address2AddressStateOrProvince, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 2 Postal Code</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address2AddressPostalCode, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 2 Country</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address2AddressCountry, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 2 Country Code</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address2AddressCountryCode, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 2 Post Office Box</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address2AddressPostOfficeBox, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 3 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address3DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 3 Street</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address3AddressStreet, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 3 Line 2</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address3AddressLine2, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 3 City</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address3AddressCity, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 3 State/Province</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address3AddressStateOrProvince, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 3 Postal Code</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address3AddressPostalCode, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 3 Country</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address3AddressCountry, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 3 Country Code</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address3AddressCountryCode, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Address 3 Post Office Box</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Address3AddressPostOfficeBox, new { @class = "form-control" }))
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Telephone Numbers</div>
        <div class="panel-body">
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 1 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone1DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 1 Telephone Number</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone1TelephoneNumber, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 2 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone2DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 2 Telephone Number</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone2TelephoneNumber, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 3 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone3DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 3 Telephone Number</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone3TelephoneNumber, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 4 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone4DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 4 Telephone Number</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone4TelephoneNumber, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 5 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone5DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 5 Telephone Number</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone5TelephoneNumber, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 6 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone6DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 6 Telephone Number</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone6TelephoneNumber, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 7 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone7DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 7 Telephone Number</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone7TelephoneNumber, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 8 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone8DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 8 Telephone Number</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone8TelephoneNumber, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 9 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone9DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 9 Telephone Number</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone9TelephoneNumber, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 10 Display Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone10DisplayName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Telephone 10 Telephone Number</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Telephone10TelephoneNumber, new { @class = "form-control" }))
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Events</div>
        <div class="panel-body">
            <div class="form-group">
                <span class="control-label col-sm-2">Birthday</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Birthday, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Wedding</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Wedding, new { @class = "form-control" }))
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Professional Details</div>
        <div class="panel-body">
            <div class="form-group">
                <span class="control-label col-sm-2">Title</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Title, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Bar Number</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.BarNumber, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Company Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Department Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.DepartmentName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Office Location</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.OfficeLocation, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Manager Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.ManagerName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Assistant Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.AssistantName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Profession</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Profession, new { @class = "form-control" }))
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Other Details</div>
        <div class="panel-body">
            <div class="form-group">
                <span class="control-label col-sm-2">Spouse's Name</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.SpouseName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Language</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Language, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Instant Messaging Address</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.InstantMessagingAddress, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Personal Home Page</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.PersonalHomePage, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Business Home Page</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.BusinessHomePage, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Gender</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.Gender, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">Referred By</span>
                <div class="col-sm-10" style="padding-top: 7px;">
                    @(Html.TextBoxFor(m => m.ReferredByName, new { @class = "form-control" }))
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    </div>
}