@model OpenLawOffice.Web.ViewModels.Matters.MatterContactViewModel
@using OpenLawOffice.Web.Helpers

@{ 
    ViewBag.Title = "Details of Contact Assignment to Matter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="roadmap">
    <div class="zero">Matter: [@(Html.ActionLink((string)ViewData["Matter"], "Details", "Matters", new { id = ViewData["MatterId"] }, null))]</div>
    <div id="current" class="one">Details of Contact Assignment to Matter<a id="pageInfo" class="btn-question" style="padding-left: 15px;">Help</a></div>
</div>
            
<div class="options_div" style="text-align: right;">
    <div style="width: 200px; display: inline;">
        <a href="../Edit/@(ViewContext.RouteData.Values["Id"])">
            <input type="button" value="Edit" id="Edit"
                   style="background-image: url('/Content/fugue-icons-3.5.6/icons-shadowless/pencil.png');
                background-position: left center; background-repeat: no-repeat; padding-left: 20px;" />
        </a>
        <a href="../Delete/@(ViewContext.RouteData.Values["Id"])">
            <input type="button" value="Delete" id="Delete"
                   style="background-image: url('/Content/fugue-icons-3.5.6/icons-shadowless/cross.png');
                background-position: left center; background-repeat: no-repeat; padding-left: 20px;" />
        </a>
    </div>
</div>

<table class="detail_table">
    <tr>
        <td class="display-label">
            Matter
        </td>
        <td class="display-field">
            @(Html.ActionLink(Model.Matter.Title, "Details", "Matters", new { id = Model.Matter.Id.Value }, null))
        </td>
    </tr>
    <tr class="tr_alternate">
        <td class="display-label">
            Contact
        </td>
        <td class="display-field">
            @(Html.ActionLink(Model.Contact.DisplayName, "Details", "Contacts", new { id = Model.Contact.Id.Value }, null))
        </td>
    </tr>
    <tr>
        <td class="display-label">
            User Defined Role
        </td>
        <td class="display-field">
            @(Model.Role)
        </td>
    </tr>
    <tr class="tr_alternate">
        <td class="display-label">
            Contact is <span style="text-decoration: underline;">Client</span>
        </td>
        <td class="display-field">
            @(BooleanHelper.YesNo(Model.IsClient))
        </td>
    </tr>
    <tr>
        <td class="display-label">
            Contact is the <span style="text-decoration: underline;">point of contact</span> for Client
        </td>
        <td class="display-field">
            @(BooleanHelper.YesNo(Model.IsClientContact))
        </td>
    </tr>
    <tr class="tr_alternate">
        <td class="display-label">
            Contact is <span style="text-decoration: underline;">appointed</span>
        </td>
        <td class="display-field">
            @(BooleanHelper.YesNo(Model.IsAppointed))
        </td>
    </tr>
    <tr>
        <td class="display-label">
            Contact is a <span style="text-decoration: underline;">party</span> to the matter
        </td>
        <td class="display-field">
            @(BooleanHelper.YesNo(Model.IsParty))
        </td>
    </tr>
    <tr class="tr_alternate">
        <td class="display-label">
            <span style="text-decoration: underline;">Title</span> for party (e.g., Defendant, Petitioner, etc.)
        </td>
        <td class="display-field">
            @(Model.PartyTitle)
        </td>
    </tr>
    <tr>
        <td class="display-label">
            Contact is a <span style="text-decoration: underline;">witness</span>
        </td>
        <td class="display-field">
            @(BooleanHelper.YesNo(Model.IsWitness))
        </td>
    </tr>
    <tr class="tr_alternate">
        <td class="display-label">
            Contact is an <span style="text-decoration: underline;">attorney</span> for another contact
        </td>
        <td class="display-field">
            @(BooleanHelper.YesNo(Model.IsAttorney))
        </td>
    </tr>
    <tr>
        <td class="display-label">
            Contact that <span style="text-decoration: underline;">attorney is representing</span>
        </td>
        <td class="display-field">
            @(Html.HiddenFor(model => model.AttorneyFor.Id))
            @if (Model.AttorneyFor != null && Model.AttorneyFor.Id.HasValue && Model.AttorneyFor.Id > 0)
            {
            @(Html.ActionLink(Model.AttorneyFor.DisplayName, "Details", "Contacts", new { id = Model.AttorneyFor.Id }, null))
            }
        </td>
    </tr>
    <tr class="tr_alternate">
        <td class="display-label">
            Contact is the <span style="text-decoration: underline;">lead attorney</span>
        </td>
        <td class="display-field">
            @(BooleanHelper.YesNo(Model.IsLeadAttorney))
        </td>
    </tr>
    <tr>
        <td class="display-label">
            Contact is <span style="text-decoration: underline;">support staff</span> for contact
        </td>
        <td class="display-field">
            @(BooleanHelper.YesNo(Model.IsSupportStaff))
        </td>
    </tr>
    <tr class="tr_alternate">
        <td class="display-label">
            <span style="text-decoration: underline;">Support staff</span> for contact
        </td>
        <td class="display-field">
            @(Html.HiddenFor(model => model.SupportStaffFor.Id))
            @if (Model.SupportStaffFor != null && Model.SupportStaffFor.Id.HasValue && Model.SupportStaffFor.Id > 0)
            {
            @(Html.ActionLink(Model.SupportStaffFor.DisplayName, "Details", "Contacts", new { id = Model.SupportStaffFor.Id }, null))
            }
        </td>
    </tr>
    <tr>
        <td class="display-label">
            Contact is a <span style="text-decoration: underline;">third party payor</span>
        </td>
        <td class="display-field">
            @(BooleanHelper.YesNo(Model.IsThirdPartyPayor))
        </td>
    </tr>
    <tr class="tr_alternate">
        <td class="display-label">
            <span style="text-decoration: underline;">Third party payor</span> for contact
        </td>
        <td class="display-field">
            @(Html.HiddenFor(model => model.ThirdPartyPayorFor.Id))
            @if (Model.ThirdPartyPayorFor != null && Model.ThirdPartyPayorFor.Id.HasValue && Model.ThirdPartyPayorFor.Id > 0)
            {
            @(Html.ActionLink(Model.ThirdPartyPayorFor.DisplayName, "Details", "Contacts", new { id = Model.ThirdPartyPayorFor.Id }, null))
            }
        </td>
    </tr>
</table>
@{ Html.RenderPartial("_CoreDetails");}

<div id="pageInfoDialog" title="Help">
    <p>
    <span style="font-weight: bold; text-decoration: underline;">Info:</span>
    Displays detailed information regarding the assignment of the contact to the matter.
    </p>
</div> 