@using OpenLawOffice.Web.Helpers;

@model OpenLawOffice.Web.ViewModels.Matters.MatterViewModel


@{ 
    ViewBag.Title = "Matter Details";
    Layout = "~/Views/Shared/_LayoutWithContextMenu.cshtml";
}
@section ContextMenu { 
<li>Actions</li>
    <ul style="list-style: none outside none; padding-left: 1em;">
        <li>
            @(Html.ActionLink("New Matter", "Create"))</li>
        <li>
            @(Html.ActionLink("Edit", "Edit", new { id = Model.Id }))</li>
       @*<li>
            @(Html.ActionLink("Delete ", "Delete", new { id = Model.Id }))</li>*@
        <li>
            @(Html.ActionLink("List", "Index"))</li>
    </ul>
    @*<li>
        @(Html.ActionLink("Tags", "Tags", new { id = Model.Id }))
        (@(Html.ActionLink("Add", "Create", "MatterTags", new { id = Model.Id }, null)))</li>*@
    <li>
        @(Html.ActionLink("Contacts", "Contacts", new { id = Model.Id }))</li>
    <li>
        @(Html.ActionLink("Tasks", "Tasks", "Matters", new { id = Model.Id }, null))
        (@(Html.ActionLink("Add", "Create", "Tasks", new { controller = "Matters", MatterId = Model.Id }, null)))</li>
    <li>
        @(Html.ActionLink("Form Fields", "FormFields", "Matters", new { id = Model.Id }, null))</li>
   @*<li>
        @(Html.ActionLink("Events", "Events", "Matters", new { id = Model.Id }, null))
        (@(Html.ActionLink("Add", "Create", "Events", new { controller = "Matters", MatterId = Model.Id }, null)))</li>*@
    <li>
        @(Html.ActionLink("Notes", "Notes", "Matters", new { id = Model.Id }, null))
        (@(Html.ActionLink("Add", "Create", "Notes", new { controller = "Matters", MatterId = Model.Id }, null)))</li>
    @*<li>
        @(Html.ActionLink("Documents", "Documents", "Matters", new { id = Model.Id }, null))
        (@(Html.ActionLink("Add", "Create", "Documents", new { controller = "Matters", MatterId = Model.Id }, null)))</li>*@
    <li>
        @(Html.ActionLink("Times by Task", "Time", "Matters", new { id = Model.Id }, null))</li>
    <li>
        @(Html.ActionLink("Timesheet", "Timesheet", "Matters", new { id = Model.Id }, null))</li>
    @*<li>
        @(Html.ActionLink("Permissions", "Acls", "Matters"))</li>*@ 
}

<style>
    #opt_selected {
        margin-top: 20px;
        font-size: 20px;
    }

    .phonecall_container {
        margin: 0px 0px 0px 0px;
        display: inline;
    }

    .phonecall_menu {
        position: absolute;
        width: 240px !important;
        margin-top: 3px !important;
    }

    /* fix for jquery-ui-bootstrap theme */
    #phonecall_launcher span {
        display: inline;
    }
</style>

<div id="roadmap">
    <div id="current" class="zero">Matter: @(Model.Title)<a id="pageInfo" class="btn-question" style="padding-left: 15px;">Help</a></div>
</div>

<script language="javascript">
    $(function () {
        $("#phonecall_drop").jui_dropdown({
            launcher_id: 'phonecall_launcher',
            launcher_container_id: 'phonecall_container',
            menu_id: 'phonecall_menu',
            containerClass: 'phonecall_container',
            menuClass: 'phonecall_menu',
            launcher_is_UI_button: false,
            onSelect: function (event, data) {
                if (data.id == 'phonecall_client') {
                    window.location = '/Tasks/PhoneCall/@(Model.Id)?func=client';
                    } else if (data.id == 'phonecall_opposingcounsel') {
                    window.location = '/Tasks/PhoneCall/@(Model.Id)?func=opposingcounsel';
                    } else if (data.id == 'phonecall_court') {
                    window.location = '/Tasks/PhoneCall/@(Model.Id)?func=court';
                    } else if (data.id == 'phonecall_other') {
                    window.location = '/Tasks/PhoneCall/@(Model.Id)?func=other';
                    }
                }
            });
    });
</script>

@using (Html.BeginForm("Close", "Matters", new { Id = ViewContext.RouteData.Values["Id"] }, FormMethod.Post, new { id = "CloseForm" }))
    {

if (Model.Active || ViewBag.AlertText != null)
    {
    <div class="options_div" style="text-align: right;">
@if (Model.Active)
    {
    <div style="width: 200px; display: inline;">
        <input type="submit" value="Close"
            style="background-image: url('/Content/fugue-icons-3.5.6/icons-shadowless/cross.png');
            background-position: left center; background-repeat: no-repeat; padding-left: 20px;" />
    </div>

    }
    @if (ViewBag.AlertText != null)
    {
    <div style="width: 200px; display: inline;">
        <a class="btn-alert" title="Alerts" id="alertInfo" style="padding-left: 15px;"></a>
        <div id="alertInfoDialog" title="Alerts">
            <p>
            <span style="font-weight: bold; text-decoration: underline;">Alerts:</span>
            @(ViewBag.AlertText)
            </p>
        </div>
        <script language="javascript">
            $(function () {
                $("#alertInfoDialog").dialog({
                    autoOpen: false,
                    width: 400,
                    show: {
                        effect: "blind",
                        duration: 100
                    },
                    hide: {
                        effect: "fade",
                        duration: 100
                    }
                });

                $("#alertInfo").click(function () {
                    $("#alertInfoDialog").dialog("open");
                });
            });
</script>
    </div>
}
</div>
    
        }
    }
<table class="detail_table">    
    <tr>
        <td colspan="5" class="detail_table_heading">
            Court Information
        </td>
    </tr>
    <tr>
        <td class="display-label" style="width: 125px;">
            Attorney for Party Title:
        </td>
        <td class="display-field">
            @(Model.AttorneyForPartyTitle)
        </td>
        <td></td>
        <td class="display-label" style="width: 125px;">
            Court Type
        </td>
        <td class="display-field">
            @(Model.CourtType.Title)
        </td>
    </tr>
    <tr>
        <td class="display-label" style="width: 125px;">
            Court Geo. Jurisdiction
        </td>
        <td class="display-field">
            @(Model.CourtGeographicalJurisdiction.Title)
        </td>
        <td></td>
        <td class="display-label" style="width: 125px;">
            Court Sitting in City
        </td>
        <td class="display-field">
            @(Model.CourtSittingInCity.Title)
        </td>
    </tr>
    <tr>
        <td class="display-label" style="width: 125px;">
            Plaintiff or Subject (Short):
        </td>
        <td class="display-field">
            @(Model.CaptionPlaintiffOrSubjectShort)
        </td>
        <td></td>
        <td class="display-label" style="width: 125px;">
            Other Party (Short):
        </td>
        <td class="display-field">
            @(Model.CaptionOtherPartyShort)
        </td>
    </tr>
    <tr>
        <td class="display-label" style="width: 125px;">
            Plaintiff or Subject (Regular):
        </td>
        <td class="display-field">
            @(Model.CaptionPlaintiffOrSubjectRegular)
        </td>
        <td></td>
        <td class="display-label" style="width: 125px;">
            Other Party (Regular):
        </td>
        <td class="display-field">
            @(Model.CaptionOtherPartyRegular)
        </td>
    </tr>
    <tr>
        <td class="display-label" style="width: 125px;">
            Plaintiff or Subject (Long):
        </td>
        <td class="display-field">
            @(Model.CaptionPlaintiffOrSubjectLong)
        </td>
        <td></td>
        <td class="display-label" style="width: 125px;">
            Other Party (Long):
        </td>
        <td class="display-field">
            @(Model.CaptionOtherPartyLong)
        </td>
    </tr>
</table>

<table class="detail_table">  
    <tr>
        <td colspan="5" class="detail_table_heading">
            Matter Details
        </td>
    </tr>
    <tr>
        <td class="display-label" style="width: 125px;">
            Lead Attorney
        </td>
        <td class="display-field">
            @if (Model.LeadAttorney != null)
                {
                @(Html.ActionLink(Model.LeadAttorney.DisplayName, "Details", "Contacts", new { Id = Model.LeadAttorney.Id }, null))
            }
        </td>
        <td>
        </td>
        <td class="display-label" style="width: 125px;">
            Bill To
        </td>
        <td class="display-field">
            @if (Model.BillTo != null)
                {
                @(Html.ActionLink(Model.BillTo.DisplayName, "Details", "Contacts", new { Id = Model.BillTo.Id }, null))
            }
        </td>
    </tr>
    <tr>
        <td class="display-label" style="width: 125px;">
            Default Billing Rate:
        </td>
        <td class="display-field">
            @if (Model.DefaultBillingRate != null)
                {
                @(Model.DefaultBillingRate.Title) <text>(@(Model.DefaultBillingRate.PricePerUnit.ToString("C")))</text>
}
            Employee Rate Override: 
            @if (Model.OverrideMatterRateWithEmployeeRate)
                {
                <text>On</text>
            }
                else
                {
                <text>Off</text>
}
        </td>
        <td>
        </td>
        <td class="display-label" style="width: 125px;">
            Billing Group:
        </td>
        <td class="display-field">
            @if (Model.BillingGroup != null)
            {
            @(Html.ActionLink(Model.BillingGroup.Title, "Details", "BillingGroups", new { Id = Model.BillingGroup.Id }, null))
                <text>(Next Bill: @(Model.BillingGroup.NextRun.ToShortDateString()))</text>
            }
        </td>
    </tr>
    <tr>
        <td class="display-label" style="width: 125px;">
            Matter Type:
        </td>
        <td class="display-field">
            @if (Model.MatterType != null)
                {
                @(Model.MatterType.Title)
            }
        </td>
        <td></td>
        <td class="display-label" style="width: 125px;">
            Client(s):
        </td>
        <td class="display-field">
            @foreach (var item in Model.Clients)
            {
                if (item != null && item.Id.HasValue)
                {
                    @(Html.ActionLink(item.DisplayName, "Details", "Contacts", new { Id = item.Id }, new { id = "link_" + item.Id.Value }))
                <div id="Contact_@(item.Id.Value)" title="Contact Details">
                    <div>Phone: @(item.Telephone1TelephoneNumber)</div>
                    <div>Email: @(item.Email1EmailAddress)</div>
                    <div>
                        <div style="display:inline-block; vertical-align: top;">Address:</div>
                        <div style="display:inline-block; padding: 0px; margin-left: 5px;">
                            <div>@(item.Address1AddressStreet)</div>
                            <div>
                                @if (item.Address1AddressPostOfficeBox != null) {
                                <text>>PO Box @(item.Address1AddressPostOfficeBox)</text>
                                }
                                @(item.Address1AddressCity), @(item.Address1AddressStateOrProvince) @(item.Address1AddressPostalCode)
                            </div>
                        </div>
                    </div>
                </div>  
                <script language="javascript">
                    $(function () {
                        $("#Contact_@(item.Id.Value)").dialog({
                            autoOpen: false,
                            width: 400,
                            show: {
                                effect: "clip",
                                duration: 100
                            },
                            hide: {
                                effect: "fade",
                                duration: 100
                            }
                        });

                        $("#link_@(item.Id.Value)").hoverIntent(function () {
                            $("#Contact_@(item.Id.Value)").dialog("open");
                        }, function () {
                            $("#Contact_@(item.Id.Value)").dialog("close");
                        });
                    });
                </script>
                }
            }
        </td>
    </tr>
    <tr>
        <td class="display-label" style="width: 125px;">
            Synopsis:
        </td>
        <td class="display-field" colspan="4">
            @(Model.Synopsis)
        </td>
    </tr>
</table>
    
<table class="detail_table">    
    <tr>
        <td colspan="4" class="detail_table_heading">
            Financial Information
            <div style="float: right;">[
            @if (Model.BillingGroup == null)
                {
                @(Html.ActionLink("Invoices", "Invoices", "Matters", new { Id = Model.Id }, new { @style = "color: white;" }))
            }
                else
                {
                @(Html.ActionLink("Invoices", "Invoices", "BillingGroups", new { Id = Model.BillingGroup.Id }, new { @style = "color: white;" }))
            }]
            </div>
        </td>
    </tr>

    <!-- 
        
    Minumum Charge:                 Maximum Charge:
    Nonbillable Time:               Expenses:
    Billed:                         Billable:
    Total Value:                    Effective Hourly Rate:

    Expenses: Billed, Unbilled, Total
    Fees: Billed, Unbilled, Total
    Time: Billed (h:m), Unbilled (h:m), Total (h:m)
        
    -->
        
    <tr>
        <td class="display-label" style="width: 125px;">
            Minimum Charge:
        </td>
        <td class="display-field">
            @if (Model.MinimumCharge.HasValue) {
                @(Model.MinimumCharge.Value.ToString("C")) 
            }
        </td>
        <td class="display-label" style="width: 125px;">
            Estimated Charge:
        </td>
        <td class="display-field">
            @if (Model.EstimatedCharge.HasValue) {
                @(Model.EstimatedCharge.Value.ToString("C")) 
            }
        </td>
    </tr>
    <tr>
        <td class="display-label" style="width: 125px;">
            Maximum Charge:
        </td>
        <td class="display-field">
            @if (Model.MaximumCharge.HasValue) {
                @(Model.MaximumCharge.Value.ToString("C")) 
            }
        </td>
        <td class="display-label" style="width: 125px;">
            Nonbillable Time:
        </td>
        <td class="display-field">
            @(TimeSpanHelper.TimeSpan(ViewBag.NonBillableTime, false))
        </td>
    </tr>
    <tr>
        <td class="display-label" style="width: 125px;">
            Total Value:
        </td>
        <td class="display-field">
            @(ViewBag.TotalValue)
        </td>
        <td class="display-label" style="width: 125px;">
            Eff. Hourly Rate:
        </td>
        <td class="display-field">
            @if (ViewBag.EffHourlyRate.ToString() != "NaN")
                {@(ViewBag.EffHourlyRate)}
        </td>
    </tr>
    <tr>
        <th style="text-align: center;">
                
        </th>
        <th style="text-align: center;">
            Billed
        </th>
        <th style="text-align: center;">
            Unbilled & Billable
        </th>
        <th style="text-align: center;">
            Total
        </th>
    </tr>
    <tr>
        <td style="font-weight: bold;">
            @(Html.ActionLink("Expenses", "Expenses", "Matters", new { id = Model.Id }, null))
            @(Html.ActionLink("New Expense", "Create", "Expenses", new { MatterId = Model.Id }, new { @class = "btn-plus" }))
        </td>
        <td style="text-align: center;">
            @(string.Format("{0:C}", ViewBag.ExpensesBilled))
        </td>
        <td style="text-align: center;">
            @(string.Format("{0:C}", ViewBag.ExpensesUnbilled))
        </td>
        <td style="text-align: center;">
            @(string.Format("{0:C}", ViewBag.Expenses))
        </td>
    </tr>
    <tr class="tr_alternate">
        <td style="font-weight: bold;">
            @(Html.ActionLink("Fees", "Fees", "Matters", new { id = Model.Id }, null))
            @(Html.ActionLink("New Fee", "Create", "Fees", new { MatterId = Model.Id }, new { @class = "btn-plus" }))
        </td>
        <td style="text-align: center;">
            @(string.Format("{0:C}", ViewBag.FeesBilled))
        </td>
        <td style="text-align: center;">
            @(string.Format("{0:C}", ViewBag.FeesUnbilled))
        </td>
        <td style="text-align: center;">
            @(string.Format("{0:C}", ViewBag.Fees))
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold;">
            Time
        </td>
        <td style="text-align: center;">
            @(ViewBag.TimeBilled)
        </td>
        <td style="text-align: center;">
            @(ViewBag.TimeUnbilled)
        </td>
        <td style="text-align: center;">
            @(ViewBag.TotalValue)
        </td>
    </tr>
</table>

<table class="listing_table">    
    <tr>
        <td colspan="3" class="listing_table_heading">
            Active Tasks
            <div style="display: inline-block; float: right;">
                <div style="width: 200px; display: inline; float: right; text-align: right;">
                    <div id="phonecall_drop" style="text-align: left; display: inline;">
                        <div id="phonecall_container" style="display: inline;">
                            <button id="phonecall_launcher" style="background-image: url('/Content/fugue-icons-3.5.6/icons-shadowless/telephone-handset.png');
                    background-position: left center; background-repeat: no-repeat; padding-left: 20px; height: 20px; font-size: 11px;">
                                Phone Call
                            </button>
                        </div>
                        <ul id="phonecall_menu">
                            <li id="phonecall_client"><a href="javascript:void(0);">Client</a></li>
                            <li id="phonecall_opposingcounsel"><a href="javascript:void(0);">Opposing Counsel</a></li>
                            <li id="phonecall_court"><a href="javascript:void(0);">Court</a></li>
                            <li id="phonecall_other"><a href="javascript:void(0);">Other</a></li>
                        </ul>
                    </div>
                </div>
                @*@(Html.ActionLink("Add", "PhoneCall", "Tasks", new { controller = "Matters", MatterId = Model.Id }, new { @class = "btn-telephone-handset" }))*@
            </div>
        </td>
    </tr>
    <tr>
        <th style="text-align: center;">
            Title
        </th>
        <th style="text-align: center; width: 170px; padding-right: 10px;">
            Due Date
        </th>
        <th style="text-align: center; width: 45px;">
                
        </th>
    </tr>
    @{ bool altRow = true;}
    @foreach (var item in Model.Tasks)
    {
        altRow = !altRow;
        if (altRow)
        {
            <tr class="tr_alternate">
                <td>
                    @(Html.ActionLink(item.Title, "Details", "Tasks", new { id = item.Id.Value }, null))
                </td>
                <td>
                    @(item.DueDate)
                </td>
                <td>
                    @(Html.ActionLink("Edit", "Edit", "Tasks", new { id = item.Id.Value }, new { @class = "btn-edit", title = "Edit" }))
                    @(Html.ActionLink("Close", "Close", "Tasks", new { id = item.Id.Value }, new { @class = "btn-remove", title = "Close" }))
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @(Html.ActionLink(item.Title, "Details", "Tasks", new { id = item.Id.Value }, null))
                </td>
                <td>
                    @(item.DueDate)
                </td>
                <td>
                    @(Html.ActionLink("Edit", "Edit", "Tasks", new { id = item.Id.Value }, new { @class = "btn-edit", title = "Edit" }))
                    @(Html.ActionLink("Close", "Close", "Tasks", new { id = item.Id.Value }, new { @class = "btn-remove", title = "Close" }))
                </td>
            </tr>
         }
    }
</table>

<br />
    
<table class="listing_table">    
    <tr>
        <td colspan="3" class="listing_table_heading">
            Matter Notes
        </td>
    </tr> 
    <tr>
        <th style="text-align: center; width: 170px;">
            Date/Time
        </th>
        <th style="text-align: center;">
            Title
        </th>
        <th style="text-align: center; width: 20px;">
                
        </th>
    </tr>
    @{ altRow = true;}
    @foreach (var item in Model.Notes)
    {
        altRow = !altRow;
        if (altRow)
        {
            <tr class="tr_alternate">
                <td>
                    @(item.Timestamp)
                </td>
                <td>
                    @(Html.ActionLink(item.Title, "Details", "Notes", new { id = item.Id.Value }, null))
                </td>
                <td>
                    @(Html.ActionLink("Edit", "Edit", "Notes", new { id = item.Id.Value }, new { @class = "btn-edit", title = "Edit" }))
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @(item.Timestamp)
                </td>
                <td>
                    @(Html.ActionLink(item.Title, "Details", "Notes", new { id = item.Id.Value }, null))
                </td>
                <td>
                    @(Html.ActionLink("Edit", "Edit", "Notes", new { id = item.Id.Value }, new { @class = "btn-edit", title = "Edit" }))
                </td>
            </tr>
        }
    }
</table>
    
<br />
    
<table class="listing_table">    
    <tr>
        <td colspan="4" class="listing_table_heading">
            Task Notes
        </td>
    </tr>
    <tr>
        <th style="text-align: center;">
            Task
        </th>
        <th style="text-align: center; width: 170px;">
            Date/Time
        </th>
        <th style="text-align: center;">
            Title
        </th>
        <th style="text-align: center; width: 20px;">
                
        </th>
    </tr>
    @{ altRow = true;}
    @foreach (var item in Model.TaskNotes)
    {
        altRow = !altRow;
        if (altRow)
        {
            <tr class="tr_alternate">
                <td>
                    @(Html.ActionLink(item.Task.Title, "Details", "Tasks", new { id = item.Task.Id.Value }, null))
                </td>
                <td>
                    @(item.Note.Timestamp)
                </td>
                <td>
                    @(Html.ActionLink(item.Note.Title, "Details", "Notes", new { id = item.Note.Id.Value }, null))
                </td>
                <td>
                    @(Html.ActionLink("Edit", "Edit", "Notes", new { id = item.Note.Id.Value }, new { @class = "btn-edit", title = "Edit" }))
                </td>
            </tr>
        }
        else
        {
        <tr>
            <td>
                @(Html.ActionLink(item.Task.Title, "Details", "Tasks", new { id = item.Task.Id.Value }, null))
            </td>
            <td>
                @(item.Note.Timestamp)
            </td>
            <td>
                @(Html.ActionLink(item.Note.Title, "Details", "Notes", new { id = item.Note.Id.Value }, null))
            </td>
            <td>
                @(Html.ActionLink("Edit", "Edit", "Notes", new { id = item.Note.Id.Value }, new { @class = "btn-edit", title = "Edit" }))
            </td>
        </tr>
        }
    }
</table>
    
<br />
    
@{ Html.RenderPartial("_CoreDetails");}


<div id="pageInfoDialog" title="Help">
    <p>
    <span style="font-weight: bold; text-decoration: underline;">Info:</span>
    Displays detailed information about the matter.
    </p>
</div> 