@model OpenLawOffice.Web.ViewModels.Matters.EditMatterViewModel

@{ 
    ViewBag.Title = "Edit Matter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script language="javascript">
    $(document).ready(function () {
        $('#ClearRateButton').click(function () {
            $('#Matter_DefaultBillingRate_Id').val([]);
        });
        $('#ClearGroupButton').click(function () {
            $('#Matter_BillingGroup_Id').val([]);
        });
        $('#Matter_BillTo_DisplayName').autocomplete({
            source: "/Contacts/ListDisplayNameOnly",
            minLength: 2,
            focus: function (event, ui) {
                $("#Matter_BillTo_Id").val(ui.item.Id);
                $("#Matter_BillTo_DisplayName").val(ui.item.DisplayName);
                return false;
            },
            select: function (event, ui) {
                $("#Matter_BillTo_Id").val(ui.item.Id);
                $("#Matter_BillTo_DisplayName").val(ui.item.DisplayName);
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            return $("<li>")
            .append("<a>" + item.DisplayName + "</a>")
            .appendTo(ul);
        };
        $('#Matter_BillTo_DisplayName').focus(function () {
            $("#Matter_BillTo_Id").val('');
            $('#Matter_BillTo_DisplayName').val('');
        });
    });
</script>
<div id="roadmap">
    <div class="zero">Matter: [@(Html.ActionLink((string)ViewBag.Matter, "Details", "Matters", new { id = ViewBag.MatterId }, null))]</div>
    <div id="current" class="one">Edit Matter<a id="pageInfo" class="btn-question" style="padding-left: 15px;">Help</a></div>
</div>

@using (Html.BeginForm())
    {
    @(Html.ValidationSummary(true))
    <table class="detail_table">
        <tr>
            <td colspan="3" class="listing_table_heading">
                Matter Details
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Active<span class="required-field" title="Required Field">*</span>
            </td>
            <td class="display-field">
                @(Html.CheckBoxFor(model => model.Matter.Active, new { Checked = true }))
                Uncheck if the matter is already completed
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Title<span class="required-field" title="Required Field">*</span>
            </td>
            <td class="display-field">
                @(Html.TextBoxFor(model => model.Matter.Title, new { @style = "width: 100%;" }))
                @(Html.ValidationMessageFor(model => model.Matter.Title))
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Matter Type<span class="required-field" title="Required Field">*</span>
            </td>
            <td class="display-field">
                @(Html.DropDownListFor(x => x.MatterTypeId,
                    new SelectList(Model.MatterTypeList, "Id", "Title"),
                    new { @size = 1, @style = "width: 100%" }))
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Synopsis<span class="required-field" title="Required Field">*</span>
            </td>
            <td class="display-field">
                @(Html.TextAreaFor(model => model.Matter.Synopsis, new { style = "height: 50px; width: 100%;" }))
                @(Html.ValidationMessageFor(model => model.Matter.Synopsis))
            </td>
        </tr>
    </table>

    <table class="detail_table">
        <tr>
            <td colspan="3" class="listing_table_heading">
                Financial Details
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Default Billing Rate<span class="required-field" title="Required Field">*</span>
            </td>
            <td class="display-field">
                @(Html.DropDownListFor(model => model.DefaultBillingRateId,
                    new SelectList(Model.BillingRateList, "Id", "Title"),
                    new { @size = 1, @style = "width: 100%" }))
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Employee Rate Override<span class="required-field" title="Required Field">*</span>
            </td>
            <td class="display-field">
                @(Html.CheckBoxFor(model => model.Matter.OverrideMatterRateWithEmployeeRate))
                Check to override matter billing rate with rates set for each employee
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Billing Group
            </td>
            <td class="display-field">
                @(Html.DropDownListFor(x => x.BillingGroupId,
                    new SelectList(Model.BillingGroupList, "Id", "Title"), "< NONE >",
                    new { @size = 1, @style = "width: 100%" }))
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Bill To<span class="required-field" title="Required Field">*</span>
            </td>
            <td class="display-field">
                @(Html.HiddenFor(model => model.Matter.BillTo.Id))
                @(Html.TextBoxFor(model => model.Matter.BillTo.DisplayName, new { @style = "width: 100%;" }))
                @(Html.ValidationMessageFor(model => model.Matter.BillTo.DisplayName))
            </td>
        </tr>
    </table>

    <table class="detail_table">
        <tr>
            <td colspan="3" class="listing_table_heading">
                Court Details
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Case Number
            </td>
            <td class="display-field">
                @(Html.TextBoxFor(model => model.Matter.CaseNumber, new { @style = "width: 100%;" }))
                @(Html.ValidationMessageFor(model => model.Matter.CaseNumber))
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Title of Party Represented:<br />
                (E.g., Defendant, Petitioner, Respondent, etc.)
            </td>
            <td class="display-field">
                @(Html.TextBoxFor(model => model.Matter.AttorneyForPartyTitle, new { @style = "width: 100%;" }))
                @(Html.ValidationMessageFor(model => model.Matter.AttorneyForPartyTitle))
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Court Type
            </td>
            <td class="display-field">
                @(Html.DropDownListFor(x => x.CourtTypeId,
                    new SelectList(Model.CourtTypes, "Id", "Title"), "< NONE >",
                    new { @style = "width: 100%" }))
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Court Geographical Jurisdiction
            </td>
            <td class="display-field">
                @(Html.DropDownListFor(x => x.CourtGeographicalJurisdictionId,
                    new SelectList(Model.CourtGeographicalJurisdictions, "Id", "Title"), "< NONE >",
                    new { @style = "width: 100%" }))
            </td>
        </tr>
        <tr>
            <td class="display-label">
                City where Court sits
            </td>
            <td class="display-field">
                @(Html.DropDownListFor(x => x.CourtSittingInCityId,
                    new SelectList(Model.CourtSittingInCities, "Id", "Title"), "< NONE >",
                    new { @style = "width: 100%" }))
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Plaintiff or Subject (Short)
            </td>
            <td class="display-field">
                @(Html.TextBoxFor(model => model.Matter.CaptionPlaintiffOrSubjectShort, new { @style = "width: 100%;" }))
                @(Html.ValidationMessageFor(model => model.Matter.CaptionPlaintiffOrSubjectShort))
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Plaintiff or Subject (Regular)
            </td>
            <td class="display-field">
                @(Html.TextBoxFor(model => model.Matter.CaptionPlaintiffOrSubjectRegular, new { @style = "width: 100%;" }))
                @(Html.ValidationMessageFor(model => model.Matter.CaptionPlaintiffOrSubjectRegular))
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Plaintiff or Subject (Long)
            </td>
            <td class="display-field">
                @(Html.TextBoxFor(model => model.Matter.CaptionPlaintiffOrSubjectLong, new { @style = "width: 100%;" }))
                @(Html.ValidationMessageFor(model => model.Matter.CaptionPlaintiffOrSubjectLong))
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Other Party (Short)
            </td>
            <td class="display-field">
                @(Html.TextBoxFor(model => model.Matter.CaptionOtherPartyShort, new { @style = "width: 100%;" }))
                @(Html.ValidationMessageFor(model => model.Matter.CaptionOtherPartyShort))
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Other Party (Regular)
            </td>
            <td class="display-field">
                @(Html.TextBoxFor(model => model.Matter.CaptionOtherPartyRegular, new { @style = "width: 100%;" }))
                @(Html.ValidationMessageFor(model => model.Matter.CaptionOtherPartyRegular))
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Other Party (Long)
            </td>
            <td class="display-field">
                @(Html.TextBoxFor(model => model.Matter.CaptionOtherPartyLong, new { @style = "width: 100%;" }))
                @(Html.ValidationMessageFor(model => model.Matter.CaptionOtherPartyLong))
            </td>
        </tr>
    </table>
<p>
    <input type="submit" value="Save" />
</p>
}
<div id="pageInfoDialog" title="Help">
    <p>
    <span style="font-weight: bold; text-decoration: underline;">Info:</span>
    Fill in the information on this page to modify the matter.  Required fields are indicated with an
    <span style="color: #ee0000;font-size: 12px;cursor:help;" title="Required Field">*</span><br /><br />
    <span style="font-weight: bold; text-decoration: underline;">Usage:</span>
    Select a "parent" matter to make this matter be a "submatter" of another matter.  To deselect a parent matter, click "clear". 
    Fields marked with an <span style="color: #ee0000;font-size: 12px;cursor:help;" title="Required Field">*</span> are required.
    </p>
</div>