@model IEnumerable<OpenLawOffice.Web.ViewModels.Billing.ExpenseViewModel>

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Matter Expenses";
    ViewBag.PageTitle = "Matter Expenses";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/Matters">Matters</a></li>
        <li>Matter: <a href="/Matters/Details/@(ViewBag.Matter.Id)">@(ViewBag.Matter.Title)</a></li>
        <li><a href="/Matters/Expenses/@(ViewBag.Matter.Id)" class="active">Expenses</a></li>
    </ul>
}

<script language="javascript">
    $(function () {
        $("#new").click(function () {
            window.location = "/Expenses/Create?MatterId=@(ViewBag.Matter.Id)";
        });
    });
</script>

<div class="container-fluid">
    <div class="row text-right">
        <div class="btn-group">
            <button type="button" id="new" class="btn btn-sm btn-primary"><span class="fa fa-plus"></span> New Expense</button>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Expenses for Matter
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-hover table-text-small">
            <thead>
                <tr>
                    <th style="text-align: center;">
                        Incurred
                    </th>
                    <th style="text-align: center;">
                        Paid
                    </th>
                    <th style="text-align: center;">
                        Vendor
                    </th>
                    <th style="text-align: center;">
                        Amount
                    </th>
                    <th style="text-align: center;">
                        Details
                    </th>
                    <th style="text-align: center;">
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(String.Format("{0:g}", item.Incurred))
                    </td>
                    <td>
                        @(String.Format("{0:g}", item.Paid))
                    </td>
                    <td>
                        @(item.Vendor)
                    </td>
                    <td>
                        @(String.Format("{0:C}", item.Amount))
                    </td>
                    <td>
                        @(item.Details)
                    </td>
                    <td style="text-align: right;">
                        <button type="button" id="edit" class="btn btn-xs btn-default" onclick="navTo('/Expenses/Edit/@(item.Id)''"><span class="fa fa-pencil"></span> Edit</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>