@model IEnumerable<OpenLawOffice.Web.ViewModels.Billing.InvoiceViewModel>

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Matter Invoices";
    ViewBag.PageTitle = "Matter Invoices";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/Matters">Matters</a></li>
        <li>Matter: <a href="/Matters/Details/@(ViewBag.Matter.Id)">@(ViewBag.Matter.Title)</a></li>
        <li><a href="/Matters/Invoices/@(ViewBag.Matter.Id)" class="active">Invoices</a></li>
    </ul>
}

<script language="javascript">
    $(function () {
        $("#new").click(function () {
            window.location = "/Billing/SingleMatterBill/@(ViewBag.Matter.Id)";
        });
    });
</script>

<div class="container-fluid">
    <div class="row text-right">
        <div class="btn-group">
            <button id="new" type="button" class="btn btn-sm btn-primary"><span class="fa fa-plus"></span> New Invoice</button>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Invoices for Matter
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-hover table-text-small">
            <thead>
                <tr>
                    <th style="text-align: center;">
                        Date
                    </th>
                    <th style="text-align: center;">
                        Due
                    </th>
                    <th style="text-align: center;">
                        Ext. Id
                    </th>
                    <th style="text-align: center;">
                        Total
                    </th>
                    <th style="text-align: right;">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(item.Date.ToShortDateString())
                        </td>
                        <td>
                            @(item.Due.ToShortDateString())
                        </td>
                        <td>
                            @(item.ExternalInvoiceId)
                        </td>
                        <td>
                            @(item.Total.ToString("C"))
                        </td>
                        <td style="text-align: right;">
                            <button type="button" id="edit" class="btn btn-xs btn-default" onclick="navTo('/Invoices/MatterDetails/@(item.Id)')"><span class="fa fa-pencil"></span> Edit</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>