@model IEnumerable<OpenLawOffice.Web.ViewModels.Matters.ResponsibleUserViewModel>

@{ 
    ViewBag.Title = "Users Responsible for Matter"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="roadmap">
    <div class="zero">Matter: [@(Html.ActionLink((string)ViewBag.Matter, "Details", "Matters", new { id = ViewBag.MatterId }, null))]</div>
    <div id="current" class="one">Users Responsible for Matter<a id="pageInfo" class="btn-question" style="padding-left: 15px;">Help</a></div>
</div>

<div class="options_div" style="text-align: right;">
    <div style="width: 200px; display: inline;">
        <a href="../../ResponsibleUsers/Create/@(ViewBag.MatterId)">
            <input type="button" value="Assign User" id="AssignUser"
                   style="background-image: url('/Content/fugue-icons-3.5.6/icons-shadowless/plus.png');
                background-position: left center; background-repeat: no-repeat; padding-left: 20px;" />
        </a>
    </div>
</div>

<table class="listing_table">
    <tr>
        <th style="text-align: center;">
            User
        </th>
        <th style="text-align: center;">
            Responsibility
        </th>
        <th style="width: 45px;">
        </th>
    </tr>
    @{ bool altRow = true;}
@foreach (var item in Model)
{
    altRow = !altRow;
    if (altRow)
    {
    <tr class="tr_alternate">
        <td>
            @(Html.ActionLink(item.User.Username, "Details", "Users", new { id = item.Id }, null))
        </td>
        <td>
            @(Html.ActionLink(item.Responsibility, "Details", "ResponsibleUsers", new { id = item.Id }, null))
        </td>
        <td>
            @(Html.ActionLink("Edit", "Edit", "ResponsibleUsers", new { id = item.Id.Value }, new { @class = "btn-edit", title = "Edit" }))
            @(Html.ActionLink("Remove", "Delete", "ResponsibleUsers", new { id = item.Id.Value }, new { @class = "btn-remove", title = "Remove" }))
        </td>
    </tr> }
    else
    { <tr>
        <td>
            @(Html.ActionLink(item.User.Username, "Details", "Users", new { id = item.Id }, null))
        </td>
        <td>
            @(Html.ActionLink(item.Responsibility, "Details", "ResponsibleUsers", new { id = item.Id }, null))
        </td>
        <td>
            @(Html.ActionLink("Edit", "Edit", "ResponsibleUsers", new { id = item.Id.Value }, new { @class = "btn-edit", title = "Edit" }))
            @(Html.ActionLink("Remove", "Delete", "ResponsibleUsers", new { id = item.Id.Value }, new { @class = "btn-remove", title = "Remove" }))
        </td>
    </tr>
    }
    }
</table>
    
<div id="pageInfoDialog" title="Help">
    <p>
    <span style="font-weight: bold; text-decoration: underline;">Info:</span>
    Responsible users are the system users (people with login credentials) responsible for managing the system.<br /><br />
    <span style="font-weight: bold; text-decoration: underline;">Usage:</span>
    Clicking the user will show the details of the user.
    Clicking the responsibility will show the details of the responsibility.  Click the 
    <img src="../../Content/fugue-icons-3.5.6/icons-shadowless/pencil.png" /> (edit icon) to make 
    changes to the responsibility.  Click the 
    <img src="../../Content/fugue-icons-3.5.6/icons-shadowless/cross.png" /> 
    (remove icon) to remove the user from the list of responsible users.  
    </p>
</div> 