@model OpenLawOffice.Web.ViewModels.Timing.DayViewModel

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Timesheet";
    ViewBag.PageTitle = "Timesheet";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/Matters">Matters</a></li>
        <li>Matter: <a href="/Matters/Details/@(ViewBag.Matter.Id)">@(ViewBag.Matter.Title)</a></li>
        <li><a href="/Matters/Timesheet/@(ViewBag.Matter.Id)" class="active">Timesheet</a></li>
    </ul>
}

@using (Html.BeginForm())
{
    @(Html.ValidationSummary(true))

    <script>
        $(function () {
            $("#from").datepicker({
                autoSize: true,
                onSelect: function (date) {
                    $("form").submit();
                }
            });
            $("#to").datepicker({
                autoSize: true,
                onSelect: function (date) {
                    $("form").submit();
                }
            });
            $('#Employee_Id').change(function () {
                $("form").submit();
            });
            $("#print_drop").jui_dropdown({
                launcher_id: 'print_launcher',
                launcher_container_id: 'print_container',
                menu_id: 'print_menu',
                containerClass: 'print_container',
                menuClass: 'print_menu',
                launcher_is_UI_button: false,
                onSelect: function (event, data) {
                    if (data.id == 'print_internal') {
                        window.open('/Matters/Timesheet_PrintInternal/@(ViewData["MatterId"])?empid=' + encodeURIComponent($('#Employee_Id').val()) + '&from=' + encodeURIComponent($('#from').val()) + '&to=' + encodeURIComponent($('#to').val()),
                            'PrintWindow', 'width=1024,height=768,scrollbars=yes');
                    } else if (data.id == 'print_allempinternal') {
                        window.open('/Matters/Timesheet_PrintInternal/@(ViewData["MatterId"])?from=' + encodeURIComponent($('#from').val()) + '&to=' + encodeURIComponent($('#to').val()),
                            'PrintWindow', 'width=1024,height=768,scrollbars=yes');
                    } else if (data.id == 'print_client') {
                        window.open('/Matters/Timesheet_PrintClient/@(ViewData["MatterId"])?empid=' + encodeURIComponent($('#Employee_Id').val()) + '&from=' + encodeURIComponent($('#from').val()) + '&to=' + encodeURIComponent($('#to').val()),
                            'PrintWindow', 'width=1024,height=768,scrollbars=yes');
                    } else if (data.id == 'print_allempclient') {
                        window.open('/Matters/Timesheet_PrintClient/@(ViewData["MatterId"])?from=' + encodeURIComponent($('#from').val()) + '&to=' + encodeURIComponent($('#to').val()),
                            'PrintWindow', 'width=1024,height=768,scrollbars=yes');
                    } else if (data.id == 'print_3rdparty') {
                        window.open('/Matters/Timesheet_Print3rdParty/@(ViewData["MatterId"])?empid=' + encodeURIComponent($('#Employee_Id').val()) + '&from=' + encodeURIComponent($('#from').val()) + '&to=' + encodeURIComponent($('#to').val()),
                            'PrintWindow', 'width=1024,height=768,scrollbars=yes');
                    } else if (data.id == 'print_allemp3rdparty') {
                        window.open('/Matters/Timesheet_Print3rdParty/@(ViewData["MatterId"])?from=' + encodeURIComponent($('#from').val()) + '&to=' + encodeURIComponent($('#to').val()),
                            'PrintWindow', 'width=1024,height=768,scrollbars=yes');
                    }
                }
            });
        });
    </script>

    <div class="form-inline text-center">
        <div class="form-group">
            <div class="input-group input-group-sm">
                <div class="input-group-addon">From</div>
                @if (ViewBag.From != null)
                {
                    <input type="text" id="from" name="from" class="form-control" value="@(((DateTime)ViewData["From"]).ToString("MM / dd / yyyy"))" placeholder="Date" />
                }
                else
                {
                    <input type="text" id="from" name="from" class="form-control" placeholder="Date" />
                }
            </div>
            <div class="input-group input-group-sm">
                <div class="input-group-addon">To</div>
                @if (ViewBag.To != null)
                {
                    <input type="text" id="to" name="to" class="form-control" value="@(((DateTime)ViewData["To"]).ToString("MM / dd / yyyy"))" placeholder="Date" />
                }
                else
                {
                    <input type="text" id="to" name="to" class="form-control" placeholder="Date" />
                }
            </div>
            <div class="input-group input-group-sm">
                <div class="input-group-addon">Employee</div>
                @(Html.DropDownListFor(x => x.Employee.Id,
            new SelectList(ViewBag.EmployeeContactList, "Id", "DisplayName"),
            new { @class = "form-control" }))
            </div>
        </div>
        <div style="float:right;">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Print <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li style="padding-left: 5px; font-weight: bold;">Office Views</li>
                    <li><a href="#" onclick="window.open('/Matters/Timesheet_PrintInternal/@(ViewBag.Matter.Id)?empid=' + encodeURIComponent($('#Employee_Id').val()) + '&from=' + encodeURIComponent($('#from').val()) + '&to=' + encodeURIComponent($('#to').val()), 'PrintWindow', 'width=1024,height=768,scrollbars=yes')">Single Employee</a></li>
                    <li><a href="#" onclick="window.open('/Matters/Timesheet_PrintInternal/@(ViewBag.Matter.Id)?from=' + encodeURIComponent($('#from').val()) + '&to=' + encodeURIComponent($('#to').val()), 'PrintWindow', 'width=1024,height=768,scrollbars=yes')">All Employees</a></li>
                    <li role="separator" class="divider"></li>
                    <li style="padding-left: 5px; font-weight: bold;">Client Views</li>
                    <li><a href="#" onclick="window.open('/Matters/Timesheet_PrintClient/@(ViewBag.Matter.Id)?empid=' + encodeURIComponent($('#Employee_Id').val()) + '&from=' + encodeURIComponent($('#from').val()) + '&to=' + encodeURIComponent($('#to').val()), 'PrintWindow', 'width=1024,height=768,scrollbars=yes')">Single Employees</a></li>
                    <li><a href="#" onclick="window.open('/Matters/Timesheet_PrintClient/@(ViewBag.Matter.Id)?from=' + encodeURIComponent($('#from').val()) + '&to=' + encodeURIComponent($('#to').val()), 'PrintWindow', 'width=1024,height=768,scrollbars=yes')">All Employees</a></li>
                    <li role="separator" class="divider"></li>
                    <li style="padding-left: 5px; font-weight: bold;">3rd Party Views</li>
                    <li><a href="#" onclick="window.open('/Matters/Timesheet_Print3rdParty/@(ViewBag.Matter.Id)?empid=' + encodeURIComponent($('#Employee_Id').val()) + '&from=' + encodeURIComponent($('#from').val()) + '&to=' + encodeURIComponent($('#to').val()), 'PrintWindow', 'width=1024,height=768,scrollbars=yes')">Single Employees</a></li>
                    <li><a href="#" onclick="window.open('/Matters/Timesheet_Print3rdParty/@(ViewBag.Matter.Id)?from=' + encodeURIComponent($('#from').val()) + '&to=' + encodeURIComponent($('#to').val()), 'PrintWindow', 'width=1024,height=768,scrollbars=yes')">All Employees</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Tasks for Matter
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed table-hover table-text-small">
                <thead>
                    <tr>
                        <th style="text-align: center;">
                            Start
                        </th>
                        <th style="text-align: center;">
                            Stop
                        </th>
                        <th style="text-align: center;">
                            Duration
                        </th>
                        <th style="text-align: center;">
                            Matter
                        </th>
                        <th style="text-align: center;">
                            Task
                        </th>
                        <th style="text-align: center;">
                            Details
                        </th>
                        <th style="text-align: center;">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        double totalMinutes = 0;
                        DateTime lastTimestampStart = DateTime.MinValue;// DateTime.Today;
                        DateTime lastTimestampStop = DateTime.MinValue;// DateTime.Today;}
                        foreach (var item in Model.Items)
                        {
                            totalMinutes += item.Time.Duration.TotalMinutes;

                            if (lastTimestampStop > item.Time.Start)
                            {
                                <tr class="bg-danger">
                                    <td style="width: 170px;">
                                        @(String.Format("{0:g}", item.Time.Start))
                                    </td>
                                    @if (item.Time.Stop.HasValue)
                                    {
                                        <td style="width: 170px;">
                                            @(String.Format("{0:g}", item.Time.Stop))
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="bg-warning" style="width: 170px;">
                                            ???
                                        </td>
                                    }
                                    <td style="width: 100px;">
                                        @(item.Time.Duration)
                                    </td>
                                    <td>
                                        @(item.Matter.Title)
                                    </td>
                                    <td>
                                        @(item.Task.Title)
                                    </td>
                                    <td>
                                        @(item.Time.Details)
                                    </td>
                                    <td style="text-align:center; width: 16px;">
                                        @(Html.ActionLink("Edit", "Edit", "Timing", new { Id = item.Time.Id.Value }, new { @class = "btn-edit", title = "Edit" }))
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td style="width: 170px;">
                                        @(String.Format("{0:g}", item.Time.Start))
                                    </td>
                                    @if (item.Time.Stop.HasValue)
                                    {
                                        <td style="width: 170px;">
                                            @(String.Format("{0:g}", item.Time.Stop))
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="bg-warning" style="width: 170px;">
                                            ???
                                        </td>
                                    }
                                    <td style="width: 100px;">
                                        @(item.Time.Duration)
                                    </td>
                                    <td>
                                        @(item.Matter.Title)
                                    </td>
                                    <td>
                                        @(item.Task.Title)
                                    </td>
                                    <td>
                                        @(item.Time.Details)
                                    </td>
                                    <td style="text-align:center; width: 16px;">
                                        @(Html.ActionLink("Edit", "Edit", "Timing", new { Id = item.Time.Id.Value }, new { @class = "btn-edit", title = "Edit" }))
                                    </td>
                                </tr>
                            }

                            lastTimestampStart = item.Time.Start;
                            if (item.Time.Stop.HasValue)
                            {
                                lastTimestampStop = item.Time.Stop.Value;
                            }
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" style="text-align: right; font-weight: bold;">
                            Total Time:
                        </td>
                        <td style="text-align: center; font-weight: bold;">
                            @(TimeSpan.FromMinutes(Math.Round(totalMinutes, 0)).ToString(@"d'd 'hh'h 'mm'm'"))
                        </td>
                        <td colspan="4"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Legend
        </div>
        <div class="panel-body">
            <table>
                <tr>
                    <td class="bg-danger">This entry overlaps the previous entry.</td>
                </tr>
                <tr>
                    <td class="bg-warning">This entry does not have a stop time.</td>
                </tr>
            </table>
        </div>
    </div>
}
