@model OpenLawOffice.Web.ViewModels.Tasks.TaskAssignedContactViewModel
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Edit Contact Assignment to Task";
    ViewBag.PageTitle = "Edit Contact Assignment to Task";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/Matters">Matters</a></li>
        <li>Matter: <a href="/Matters/Details/@(ViewBag.Matter.Id)">@(ViewBag.Matter.Title)</a></li>
        <li><a href="/Matters/Tasks/@(ViewBag.Matter.Id)">Tasks</a></li>
        <li>Task: <a href="/Tasks/Details/@(ViewBag.Task.Id)">@(ViewBag.Task.Title)</a></li>
        <li><a href="/Tasks/Contacts/@(ViewBag.Task.Id)">Contacts</a></li>
        <li>Contact: <a href="/TaskAssignedContacts/Details/@(Model.Id)">@(Model.Contact.DisplayName)</a></li>
        <li><a href="/TaskAssignedContacts/Edit/@(Model.Id)">Edit</a></li>
    </ul>
}

@using (Html.BeginForm())
{
    @(Html.ValidationSummary(true))

    <div class="panel panel-default">
        <div class="panel-heading">
            Task Assignment Details
        </div>
        <div class="panel-body">
            <div class="form-group">
                <span class="control-label col-sm-2">
                    Task
                </span>
                <div class="col-sm-10">
                    @(Html.HiddenFor(model => model.Task.Id))
                    @(Html.ActionLink(Model.Task.Title, "Details", "Tasks", new { id = Model.Task.Id }, null))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">
                    Contact:
                </span>
                <div class="col-sm-10">
                    @(Html.HiddenFor(model => model.Contact.Id))
                    @(Html.ActionLink(Model.Contact.DisplayName, "Details", "Contacts", new { id = Model.Contact.Id }, null))
                </div>
            </div>
            <span class="control-label col-sm-2">
                Assignment<span class="required-field" title="Required Field">*</span>
            </span>
            <div class="col-sm-10">
                @(Html.EnumDropDownListFor(model => model.AssignmentType, new { @class = "form-control" }))
            </div>
        </div>
    </div>
    <p>
        <button type="submit" class="btn btn-lg btn-default">Submit</button>
    </p>
}